#container {
    text-align: center;
    margin-bottom: 30px;
}

h1.user {
    color: cornflowerblue;
    text-shadow: black 1px 2px 3px; 
    font-family: 'Helvetica';
    font-size: 30;
    display: inline;
}

span.message {
    color: darkgreen;
    font-size: 30;
    font-family: 'Helvetica';

}

.chat {
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    margin: 10px;
}
.chat:nth-of-type(even) {
    background-color: blanchedalmond;
}
.chat:nth-of-type(odd) {
    background-color: darkgray;
}

